:root {
  /* colors */
  --bg: #f6f7fb;
  --bgc: #f4f4f8;
  --text: #1f2937;
  --muted: #2a2d32;
  --surface: #89b9ad;
  --border: #89b9ad;
  --brand: #89b9ad;
  --brand-weak: #eef2ff;

  @media only screen and (max-width: 1348px) {
    :root {
      --default-width: 92%;
      --font-title: 4.4rem;
      --font-sub-title: 2.8rem;
      --font-text: 1.2rem;
    }
  }
  /* radius / shadow */
  --radius: 12px;
  --shadow: 0 2px 8px rgba(31, 29, 29, 0.08);

  /* spacing (example scale) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;

  /* typography */
  --font: 16px/1.6 system-ui, -apple-system, Segoe UI, Roboto, Apple Color Emoji, Segoe UI Emoji;
}
